body {  
       margin: 25px;  
       text-align: center;  
       background: black;  
 }  
  h1 {  
       color: #26abde;  
 }  
  .virtual-keyboard .row {  
       text-align: center;  
       margin: 0 0 15px;  
 }  
  .virtual-keyboard .row.spacebar input {  
       padding: 10px 150px;  
 }  
  .virtual-keyboard input[type='button'] {  
       padding: 10px 20px;  
       border-radius: 30px;  
       border: 3px solid #202c2b;  
       background: #006400;  
       color: #ffff;  
       text-transform: uppercase;  
 }  
  .virtual-keyboard input[type='button'].shift-activated {  
       background: red;  
 }  
 
  .virtual-keyboard input[type='button'].delete, .virtual-keyboard input[type='button'].shift {  
       text-transform: none;  
 }  
  .output {  
       margin: 15px;  
 }  
  .output input {  
       color: white;  
       background: black;  
       border: 0px;  
       line-height: 2.2em;  
       text-align: center;  
       font-size: 2em;  
       width: 100%;  
 }  
  .output input:focus {  
       outline: none;  
       border: 0px;  
 }  
  .output ::-webkit-input-placeholder {  
       color: white;  
       text-align: center;  
       font-size: 1em;  
 }  